@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    position: fixed;
    background-color: #0053D0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.masterClass{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.HeaderClass{
    display: grid;
    grid-template-rows: 60px 40px;
    grid-template-areas: 
    "head"
    "btn";
    justify-items: center;
    align-items: center;
    gap: 5px;
}
.Head{
    height: 100%;
    margin: 0;
    align-items: center;
}

.Txt_HeadClass{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px black;
    font-size: 45px;
    text-align: center;
    width: 100%;
    grid-area: head;
    margin: 0;
}

.Btn_HeadClass{
    grid-area: btn;
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    min-width: 230px;
    max-width: 530px;
    justify-content: center;
}
.Players_btn {
    background-color: rgb(56, 50, 50);
    border-radius: 12px;
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Players_btn:not(:disabled):hover,
  .Players_btn:not(:disabled):focus {
    outline: 0;
    background: rgb(255, 254, 254);
    color: rgb(10, 10, 10);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }
  
  .Players_btn:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
/* .Players_btn{
    background-color: rgb(56, 50, 50);
    color: rgb(235, 235, 235);
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 5px 10px black;
} */
.ContainerClass{
    position: relative;
    width: 100vw;
    height: 0;
    /* display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 40vh 40vh;
    grid-gap: 5px;
    grid-template-areas: "P1 T P2"
                        "P3 T P4"; */
}
.ClassPlayerDiv{
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 2px 2px #fffcfc;
    border-radius: 10px;
    width: 150px;
    height: 350px;
    
}
#IDPlayerDiv_1{
    position: absolute;
    left: 0;
    margin-left: 5px;
}
#IDPlayerDiv_2{
    position: absolute;
    right: 0;
    margin-right: 5px;
}
#IDPlayerDiv_3{
    position: absolute;
    left: 0;
    margin-left: 5px;
    top: 365px;
}
#IDPlayerDiv_4{
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 365px;
}
.PlayerStats{
    background-color: rgb(240, 185, 255);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.ClassPlayerTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
.ClassPlayerTitle IDPlayerTitle_1{
    color: #0053D0;
}
.PlayerProd{
    padding: 5px;
}

.ClassPlayerProd_each{
    display: grid;
    grid-template-columns: 1fr 1.1fr 2fr 1.1fr;
    grid-template-rows: 17px 17px;
    grid-template-areas: 
    "img decbtn1 value incbtn1"
    "img decbtn5 value incbtn5";
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    margin: 2px;
}
.img_resources{
    grid-area: img;
    height: 25px;
}
/* CSS */
.Dec1 {
  background-color: rgb(251, 173, 173);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Dec1:not(:disabled):hover,
.Dec1:not(:disabled):focus {
  outline: 0;
  background: #fd9696;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.Dec1:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.Inc1 {
    background-color: rgb(251, 242, 173);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .Inc1:not(:disabled):hover,
  .Inc1:not(:disabled):focus {
    outline: 0;
    background: rgb(255, 240, 128);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .Inc1:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }

.Dec5 {
    background-color: rgb(251, 135, 135);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Dec5:not(:disabled):hover,
.Dec5:not(:disabled):focus {
    outline: 0;
    background: rgb(246, 104, 104);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.Dec5:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.Inc5 {
    background-color: rgb(249, 232, 105);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Inc5:not(:disabled):hover,
.Inc5:not(:disabled):focus {
    outline: 0;
    background: rgb(249, 230, 88);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.Inc5:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.ResourcesText{
    grid-area: value;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}
.PlayerBank{
    padding: 5px;
}
.ClassPlayerBank_each{
    display: grid;
    height: 40%;
    grid-template-columns: 1fr 1.1fr 2fr 1.1fr;
    grid-template-rows: 17px 17px;
    grid-template-areas: 
    "img decbtn1 value incbtn1"
    "img decbtn5 value incbtn5";
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    margin: 2px;
    margin-top: 5px;
}
.ClassTable{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

}
.ClassImgTable{
    height: 100vh;
    aspect-ratio: 14/9;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.Classmap{
    height: 100%;
    width: 100%;
}
.ClassFooter{
    width: 100%;
    height: 100px;
    bottom: 0;
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ClassRound{
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 2px 2px #fffcfc;
    border-radius: 10px;
    align-self: center;
    vertical-align: center;
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;

}
/* .ClassCountry{
    stroke: black;
    stroke-width: 1px;
} */
.C_AmericaNorte {
    fill: rgb(255, 194, 119);
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_AmericaNorte:not(:disabled):hover,
.C_AmericaNorte:not(:disabled):focus {
    z-index: 12;
    fill: rgb(255, 165, 69);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_AmericaNorte:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.C_AmericaSul {
    fill: rgb(177, 255, 128) ;
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_AmericaSul:not(:disabled):hover,
.C_AmericaSul:not(:disabled):focus {
    z-index: 12;
    fill: rgb(88, 249, 101);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_AmericaSul:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.C_Africa {
    fill: rgb(248, 145, 255) ;
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_Africa:not(:disabled):hover,
.C_Africa:not(:disabled):focus {
    z-index: 12;
    fill: rgb(237, 78, 249);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_Africa:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.C_Europe {
    fill: rgb(145, 173, 255) ;
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_Europe:not(:disabled):hover,
.C_Europe:not(:disabled):focus {
    z-index: 12;
    fill: rgb(58, 107, 255);
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_Europe:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.C_Asia {
    fill: rgb(255, 231, 137) ;
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_Asia:not(:disabled):hover,
.C_Asia:not(:disabled):focus {
    z-index: 12;
    fill: rgb(252, 217, 75) ;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_Asia:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.C_Oceania {
    fill: rgb(255, 137, 137) ;
    stroke-width: 1px;
    stroke: #000;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.C_Oceania:not(:disabled):hover,
.C_Oceania:not(:disabled):focus {
    z-index: 12;
    fill: rgb(250, 91, 91) ;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.C_Oceania:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
