@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(140, 255, 255);
}
.TitleSpace{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.Btn_Head{
    position: relative;
    left: 50%;
    transform: translate(-50%);


    height: auto;
    min-width: 120px;
    max-width: 500px;

    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content: center;
}
.Btn_Head button{
    background-color: rgb(56, 50, 50);
    font: 20px ;
    color: rgb(235, 235, 235);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.Container{
    margin: 5px;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 40vh 40vh;
    grid-gap: 5px;
    grid-template-areas: "P1 T P2"
                        "P3 T P4";
}
.Player1{
    grid-area: P1;
}
.Player2{
    grid-area: P2;

}
.Player3{
    grid-area: P3;

}
.Player4{
    grid-area: P4;

}
.PlayerStats{
    background-color: rgb(240, 185, 255);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.PlayerTitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.PlayerProd{
    /* background-color: rgb(232, 113, 248); */
    padding: 5px;
}
.ResourceText{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.PlayerProdEach{
    display: grid;
    height: 40%;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 18px 18px;
    grid-template-areas: 
    "img decbtn1 value incbtn1"
    "img decbtn5 value incbtn5";
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    margin: 2px;

}
.imgresource{
    grid-area: img;
    height: 25px;
}
.Dec1{
    background-color: rgb(251, 173, 173);
    border-radius: 4px;
    border-color: rgb(170, 116, 116);
    grid-area: decbtn1;
    height: 100%;
    width: 80%;
}
.Inc1{
    background-color: rgb(251, 242, 173);
    border-radius: 4px;
    border-color: rgb(183, 177, 128);
    grid-area: incbtn1;
    height: 100%;
    width: 80%;
}
.Dec5{
    background-color: rgb(251, 135, 135);
    border-radius: 4px;
    border-color: rgb(170, 116, 116);
    grid-area: decbtn5;
    height: 100%;
    width: 80%;
}
.Inc5{
    background-color: rgb(249, 232, 105);
    border-radius: 4px;
    border-color: rgb(183, 177, 128);
    grid-area: incbtn5;
    height: 100%;
    width: 80%;
}
.Prod{
    grid-area: value;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
}
.PlayerBank{
    padding: 5px;
}
.Table{
    background-color: rgb(112, 112, 112);
    grid-area: T;
    border-radius: 10px;
}