body{
    background-color: rgb(46, 157, 255);
}
.container{   
    display: grid;
    grid-template-columns:  250px 1fr 250px;
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 1000px;
    place-items: center;
}
h1{
    font-size: 30px;
    font-family:'Lucida Sans';
    text-align: center;
}
.PlayerTitle{
    font-size: 20px;
    font-family:'Lucida Sans';
    margin: auto;
    padding: 10px;
    width: 100px;   
    text-align: center;
}
.PlayerDiv {
    background-color: rgb(18, 213, 206);
    border-radius: 20px;
}
#PlayerDiv_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#PlayerDiv_2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
#PlayerDiv_3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#PlayerDiv_4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.ResourcesText{
    font-size: 30px;
    font-family:'Lucida Sans';
    text-align: center;
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2px;
    top: 50%;
    transform: translate(0, -50%);
}
.PlayerProd {
    text-align: center;
    align-items: center;
}
.PlayerProd_each{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 5px;
    gap: 10px;
    width: 240px;
}
.RightDivProd{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    -ms-grid-column-align: center;
    position: relative;
}
.PlayerBank{
    text-align: center;
    align-items: center;
}
.PlayerBank_each{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 5px;
    gap: 10px;
    width: 240px;
}
.RightDivBank{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    -ms-grid-column-align: center;
    position: relative;
}
.Players_btn {
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    border: 1px solid;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
.Players_btn_resources_Dec {
    background-color: rgb(252, 173, 130);
    color: rgb(29, 29, 29);
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-radius: 5px;
}
.Players_btn_resources_Inc {
    background-color: rgb(187, 252, 130);
    color: rgb(29, 29, 29);
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 20px;  
    grid-column: 3 / span 4; 
    grid-row: 1 / span 2;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 5px;
}
.Players_btn_resourcesBank_Dec {
    background-color: rgb(252, 173, 130);
    color: rgb(29, 29, 29);
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-radius: 5px;

}
.Players_btn_resourcesBank_Inc {
    background-color: rgb(187, 252, 130);
    color: rgb(29, 29, 29);
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 20px;  
    grid-column: 3 / span 4; 
    grid-row: 1 / span 2;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 5px;
}
#menos1{
    top: 25%;
}
#menos5{
    top: 75%;
}
#mais1{
    top: 25%;
}
#mais5{
    top: 75%;
}
.img_resources{
    width: 80px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin: auto;
}
.GameDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    background-color: rgb(203, 202, 202);
    border-radius: 20px;
    text-align: center;
}